<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert Coin</title>
    <link rel="stylesheet" href="app.component.css">
    <link rel="shortcut icon" href="" type="image/x-icon">
</head>
<body>
    
    <header>
        <img src="imagens/logo2.png" alt="insert coin">
        <h1>Insert<strong><em>Coin</em></strong></h1>
        <p>Sua loja de Games Retrô</p>
    </header>
    <nav>
        <a href="sobre.component.html">Sobre nós</a>
        <a href="#">Carrinho</a>
        
    </nav>
    <main>
        <div class="container mt-5">
  <h1 class="text-primary">🎮 Loja de Jogos Retrô</h1>
  
  <button class="btn btn-success">
    Botão Bootstrap funcionando!
  </button>
  
  <div class="alert alert-info mt-3">
    Se você está vendo isso bonitinho, Bootstrap tá funcionando! 🎉
  </div>

        <article>
            
        </article>
    </div>
    </main>
    <footer>
        <p>Criado por <a href="#">Yasmin Feliciano e Vinicius Barcellos</a> para a Insert Coin</p>
    </footer>
</body>
</html>