<div class="alert alert-warning" *ngIf="mensagem.length>0">{{mensagem}}</div>

<div class="row">


<div class="card" *ngFor="let obj of lista" class="col-3">
  <img class="card-img-top" src="./assets/{{obj.codigo}}.jpg" width="150px">
  <div class="card-body">
    <h4 class="card-title">{{obj.nome}}</h4>
    <div class="card-text"> 
        <div *ngIf="obj.promo>obj.valor">
    R${{obj.valor}}
    </div>
    <div *ngIf="obj.promo<obj.valor">
        <s>R${{obj.valor}}</s><br>
        R${{obj.promo}}
    </div></div>
    <a href="#" class="btn btn-primary">+ detalhes</a>
    <a href="#" class="btn btn-primary"*ngIf="obj.quantidade>0">+ comprar</a>
  </div>
</div>
</div>


