.wrapper{
    display:grid; 
    grid-template-columns:1fr 1fr 1fr; 
    gap:24px;
    align-items: center;
    justify-content: center;
}

.card{
    align-items: center;
    height: 390px;
    max-width: 300px;
    min-width: 240px;
    background:var(--card); 
    border-radius:14px; 
    padding:20px; 
    box-shadow:0 6px 24px rgba(15,23,42,0.06)
}

.card-img-top{
    height: 165px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#btn-action{
    margin: 6px 6px;
}

.help{font-size:13px;
    color:var(--muted);
}

.meta{
    font-size:13px; 
    color:var(--muted);
}

.invalid{
    border-color:var(--danger)!important;
}

.error-text{
    color:var(--danger);
    font-size:12px;
    margin-top:6px;
}

/* small screen */
@media (max-width:940px){
    .wrapper{
        justify-content: center; 
        display:grid; 
        grid-template-columns: 1fr 1fr; 

    }

}

/* small screen */
@media (max-width:650px){
    .wrapper{
        justify-content: center;
        display:grid; 
        grid-template-columns: 1fr; 
    }
}